@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

p.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #C7C9CE; /*siva za tekst*/
  background-color: #15171C; /*blaga crna za pozadine*/
  text-align: center;
  padding: 1em 1.1em;
  border: 1px solid #2D2E35; /*tamna siva za granice*/
  border-radius: 7px;
  margin: 1.1em auto;
  max-width: 605px;
  box-shadow: 0 0 9px #102420, inset 0 0 6px #2B9C9A; /*tamno zelena i cyan ili plava za highlighte*/
}

h1.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #4BC66E; /*osnovna zelena za tekst - DOBRA ZA JOŠ TEKSTA*/
  background-color: #15171C; /*ista blaga crna za pozadine*/
  text-shadow: 0 0 5px #4BC66E, /*ponavljanje zelene za prvi highlight*/ 1px 0 9px #2B9C9A, /*cyan za highlight*/  -1px 0 14px #6A3E8C; /*ljubičasta za dodatak boje*/
  padding: 0.65em 0;
  border-bottom: 2px solid #2B9C9A; /*cyan za highlight*/
}